# workspace and project files
*.sublime-workspace
*.sublime-project
.vscode/

# __pycache__ folder and files
**/__pycache__
*.pyc
*.pyo

# poetry environment files
/.venv
*.lock

# dummy email accounts
dummy-accounts*
